center {
    text-align: center;
    display: block;
    justify-content: center;
}

svg {
    /*padding: 10px 25px;*/
    width: 100%;
    height: auto;
}

left {
    text-align: left;
    justify-content: left;
}

right {
    text-align: right;
    justify-content: right;
}

text {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

container {
    display: flex;
    align-items: center;
    justify-content: center;
}

vertical {
    flex-direction: column;
}

horizontal {

}

/*tooltip {
    position: absolute;
    pointer-events: none;
    background: #000;
    visibility: hidden;
    width: 1000px;
    height: 1000px;
    color: #fff;
    text-align: center;
    font-size: 72px;
}*/